{% extends "base.html" %}
{% load bootstrap4 %}
{% block content %}
    <div class="container mt-5">
        <h1 class="text-center mb-4"><strong>COIN DETAILS</strong></h1>
        <div class="row justify-content-center">
            <div class="col-md-12">
                {% bootstrap_messages %}
                <div class="card border-0 shadow-lg" style="background-color: #c7e619;">
                    <div class="card-body">
                        <h3 class="card-title text-center mb-4">{{ coin.coin_name }}</h3>
                        <div class="row">
                            <div class="col-md-6">
                                <p class="card-text"><strong>Year:</strong> {{ coin.coin_year }}</p>
                                <p class="card-text"><strong>Country:</strong> {{ coin.coin_country }}</p>
                                <p class="card-text"><strong>Material:</strong> {{ coin.coin_material }}</p>
                                <p class="card-text"><strong>Weight:</strong> {{ coin.coin_weight }}</p>
                                <p class="card-text"><strong>Starting Bid:</strong> {{ coin.starting_bid }}</p>
                                <p class="card-text"><strong>Coin Status:</strong> {{ coin.coin_status }}</p>
                            </div>
                            <div class="col-md-6">
                                {% if coin.coin_image %}
                                <p class="text-center"><img src="{{ coin.coin_image.url }}" alt="{{ coin.coin_name }}" class="img-fluid rounded"></p>
                                {% else %}
                                <p class="text-center">No Image</p>
                                {% endif %}
                                <p class="card-text"><strong>Description:</strong> {{ coin.coin_desc }}</p>
                            </div>
                        </div>
                    </div>                 
                </div>
                <div>&nbsp;</div>
                <div class="text-center">
                    <div class="btn-group">
                        <form action="{% url 'apps:home' %}">
                            <button type="submit" class="btn btn-secondary">Back to Home</button>
                        </form><span>&nbsp;</span>
                        {% if request.user.id == coin.created_by_id %}
                        <form action="{% url 'edit_coin' coin_id=coin.coin_id %}">
                            <button type="submit" class="btn btn-warning">Edit Coin</button>
                        </form><span>&nbsp;</span>
                        <form method="post" action="{% url 'add_to_cart' coin.coin_id %}">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-success">Buy Now</button>
                        </form>
                        {% endif %}
                    </div>                    
                </div>   
            </div>
        </div>
    </div>
{% endblock content %}
