<!-- order_details.html -->
{% extends "base.html" %}
{% load bootstrap4 %}

{% block content %}
<div class="container mt-5">
    <h1 class="mb-4 font-weight-bold text-center">Order Details <a href="{% url 'apps:my_orders' %}" class="btn btn-warning btn-sm">Return</a></h1>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Order Details</h5>
            <p><strong>Order ID:</strong> {{ order.id }}</p>
            <p><strong>Order Date:</strong> {{ order.order_date }}</p>
            <p class="text-danger font-weight-bold"><strong>Total Amount:</strong> {{ order.total_amount }}</p>
            <p><strong>Shipment Status :</strong> {{ order.status }}</p>
            <hr>
            <h5 class="card-title">Shipping Address</h5>
            <p><strong>Address:</strong> {{ shipping_address.address }}</p>
            <p><strong>City:</strong> {{ shipping_address.city }}</p>
            <p><strong>State:</strong> {{ shipping_address.state }}</p>
            <p><strong>Postal Code:</strong> {{ shipping_address.postal_code }}</p>
            <hr>
            <h5 class="card-title">Ordered Items</h5>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Item</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Price</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in order.orderitem_set.all %}
                    <tr>
                        <td>{{ item.coin.coin_name }}</td>
                        <td>{{ item.quantity }}</td>
                        <td>${{ item.price }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <!-- Add any additional content or instructions here -->
</div>
{% endblock content %}
