{% extends "base.html" %}
{% load bootstrap4 %}
{% block content %}
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card mt-5">
          <div class="card-body">
            <h3 class="card-title" style="font-weight: bold;">Login</h3>
            <form method="POST">
              {% bootstrap_messages %}
              {% csrf_token %}
              {% bootstrap_form form %}
              <button type="submit" class="btn btn-primary">Submit</button>
            </form>
            <p class="mt-3">Don't have an account? <a href="{% url "coins:authView" %}" class="signup-link">Signup</a></p>

          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
