{% extends "base.html" %}
{% load bootstrap4 %}

{% block content %}
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card mt-5">
          <div class="card-body">
            <h3 class="card-title" style="font-weight: bold;">Password Changed Successfully</h3>
            <p>Your password has been changed successfully.</p>
            <div class="text-center mt-3">
              <a href="{% url 'coins:home' %}" class="btn btn-secondary">Home</a>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
