{% extends "base.html" %}
{% load bootstrap4 %}
{% block content %}
<div class="container mt-5">
    <h1 class="mb-4 font-weight-bold">Shopping Cart <a href="{% url "coins:home" %}" class="btn btn-warning btn-sm">Return</a></h1>
    <div class="row">
        <div>&nbsp;</div>
        <div class="col-md-8">
            {% if cart_items %}
            <div class="alert alert-danger text-center font-weight-bold" role="alert">
                <marquee>PLEASE SAVE YOUR CHANGES BEFORE CHECKOUT</marquee>
            </div>
            {% endif %}
            {% bootstrap_messages %}
            {% if cart_items %}
            <form id="cartForm" action="{% url 'save_changes' %}" method="post">
                {% csrf_token %}
                <table class="table">
                    <thead>
                        <tr class="text-center">
                            <th scope="col">#</th>
                            <th scope="col">Coin Name</th>
                            <th scope="col">Quantity</th>
                            <th scope="col">Rate</th>
                            <th scope="col">Price</th>
                            <th scope="col">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in cart_items %}
                        <tr class="text-center">
                            <th scope="row">{{ forloop.counter }}</th>
                            <td>{{ item.coin.coin_name }}</td>
                            <td>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <button class="btn btn-outline-danger" type="button" onclick="decrementQuantity({{ item.id }})">-</button>
                                    </div>
                                    <input type="text" class="form-control text-center font-weight-bold" name="quantity_{{ item.id }}" id="quantity_{{ item.id }}" value="{{ item.quantity }}" readonly>
                                    <div class="input-group-append">
                                        <button class="btn btn-outline-success" type="button" onclick="incrementQuantity({{ item.id }})">+</button>
                                    </div>
                                </div>
                            </td>
                            <td>{{ item.coin.rate }}</td>
                            <td class="price">{{ item.price }}</td>                            
                            <td>
                                <a href="{% url 'remove_item' item.id %}" class="btn btn-danger btn-sm">Remove</a>
                            </td>
                        </tr>
                        {% endfor %}
                        <tr>
                            <td colspan="4" class="font-weight-bold">Total</td>
                            <td class="font-weight-bold total-price text-center">{{ total_price }}</td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
                <div class="text-center">
                    <button type="submit" class="btn btn-primary btn-sm">Save Changes</button>
                    <button type="button" class="btn btn-success btn-sm" onclick="checkout()">Checkout</button>
                </div>
            </form>
            {% else %}
            <div class="alert alert-info" role="alert">
                There are no items in your shopping cart.
            </div>
            {% endif %}
        </div>
    </div>
</div>

<script>
    function updatePrice(itemId) {
        var quantityInput = document.getElementById('quantity_' + itemId);
        var priceCell = document.querySelector(`#quantity_${itemId}`).closest('tr').querySelector('.price');
        var rate = parseFloat(priceCell.previousElementSibling.textContent);
        var quantity = parseInt(quantityInput.value);
        var price = rate * quantity;
        price = price.toFixed(1);
        priceCell.textContent = price;
        updateTotalPrice();
    }

    function updateTotalPrice() {
        var totalPrice = 0;
        var priceCells = document.querySelectorAll('.price');
        priceCells.forEach(function(cell) {
            totalPrice += parseFloat(cell.textContent);
        });
        document.querySelector('.total-price').textContent = totalPrice.toFixed(1);
    }
    function incrementQuantity(itemId) {
        var inputField = document.getElementById('quantity_' + itemId);
        var currentValue = parseInt(inputField.value);
        if (!isNaN(currentValue)) {
            inputField.value = currentValue + 1;
            updatePrice(itemId);
        }
    }

    function decrementQuantity(itemId) {
        var inputField = document.getElementById('quantity_' + itemId);
        var currentValue = parseInt(inputField.value);
        if (!isNaN(currentValue) && currentValue > 1) {
            inputField.value = currentValue - 1;
            updatePrice(itemId);
        }
    }

    function checkout() {
        document.getElementById('cartForm').setAttribute('method', 'post');
        document.getElementById('cartForm').setAttribute('action', "{% url 'coins:checkout' %}");
        document.getElementById('cartForm').submit();
    }
</script>
{% endblock content %}
